


        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="empty-page-content text-center">
                    <h1>Payment success</h1>
                    <p>We will process your order</p>
                    <p><a asp-controller="home" asp-action="index" class="btn btn--has-icon-after">Continue shopping <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
                </div>
            </div>
        </div>
