@model ProductCat
@{
    ViewData["Title"] = "Create Product Category";
}
<div id="content" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header font-weight-bold d-flex justify-content-between align-items-center">
                    <h5 class="m-0 ">Thêm mới danh mục sản phẩm</h5>
                </div>
                <div class="card-body">
                    <form method="post" asp-area="admin" asp-controller="productcat" asp-action="create">
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input class="form-control" type="text" asp-for="Name">
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                        <div class="form-group">
                            <label for="">Danh mục cha</label>
                            <select class="form-control" asp-for="ParentId">
                                <option value="0">Danh Mục Cha</option>
                                @foreach (var productCatDataTree in ViewBag.ProductCatsDataTree)
                                {
                                    <option value="@productCatDataTree.ProductCat.Id">@(string.Join("", Enumerable.Repeat("---/", productCatDataTree.Level)) + productCatDataTree.ProductCat.Name)</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Created"></label>
                            <input class="form-control"  asp-for="Created" disabled>
                            <span class="text-danger" asp-validation-for="Created"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Thêm mới</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial.cshtml" />
    }
}