@model Page
@{
    ViewData["Title"] = "Create Page";
}

<div id="content" class="container-fluid">
    <div class="card">
        <div class="card-header font-weight-bold d-flex justify-content-between align-items-center">
            <h5 class="m-0 ">Thêm mới trang</h5>
        </div>
        <div class="card-body">
            <form asp-area="admin" asp-controller="page" asp-action="create" method="post">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input class="form-control" type="text" asp-for="Name">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label for="content">Nội dung bài viết</label>
                    <textarea asp-for="Content" class="form-control" id="content" cols="100" rows="5"></textarea>
                    <span class="text-danger" asp-validation-for="Content"></span>
                </div>
                <div class="form-group form-check">
                    <label asp-for="Status"></label>
                    <input class="form-check-input ml-3" asp-for="Status">
                    <span class="text-danger" asp-validation-for="Status"></span>
                </div>
                <button type="submit" class="btn btn-primary">Thêm mới</button>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial.cshtml" />
    }
}